<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera app web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi primera app web!</h1>
    <h3>Me encanta el backend</h3>

    <div>
        <p>Esta es una aplicación web creada con Flask.</p>
    </div>

    <div>
        <hi> Catálogo de productos</hi>
        <ul>
            {% for producto in productos %}
                <li>
                    {{ producto.nombre }} - ${{ producto.precio }}
                    <a href="{{ ulr_for('agregar', id=producto.id) }}">Agregar al carrito</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('carrito') }}">Ver carrito</a>
    </div>
</body>
</html>